#curry{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.centered {
    text-align:center;
}

.btn {
    display: inline-block;
    background-color: #38b1b1; /* blue */
    color: white;
    padding: 12px 24px;
    text-decoration: none; /* removes underline */
    border-radius: 8px;
    font-weight: bold;
}
.btn:hover {
    background-color: #1b38a4; /* dark blue */
}
body {
  background-color: rgb(175, 216, 201); /* Sets a light blue background for the entire page */
}